{% extends "base.html" %}
{% load plotly_dash %}

{% block title %}Аналитика спреда{% endblock %}

{% block extra_head %}{{ plotly_header }}{% endblock %}

{% block content %}
      <h1 class="mb-3">
        <i class="fa-solid fa-chart-line text-primary"></i>
        Аналитика спреда:
        <span class="badge bg-primary">{{ trading_pair.name }}</span>
        <small class="text-muted">({{ trading_pair.get_type_display }})</small>
      </h1>

      <div class="row mb-4">
        <div class="col-md-6">
          <ul class="list-group mb-3">
            <li class="list-group-item">
              <i class="fa-solid fa-coins text-warning"></i>
              <b>Торговая пара:</b> {{ trading_pair.name }}
            </li>
            <li class="list-group-item">
              <i class="fa-solid fa-tag text-secondary"></i>
              <b>Символ:</b> {{ trading_pair.symbol }}
            </li>
            <li class="list-group-item">
              <i class="fa-solid fa-layer-group text-info"></i>
              <b>Тип рынка:</b> {{ trading_pair.get_type_display }}
            </li>
          </ul>
        </div>
      </div>

      <h2 class="mb-3"><i class="fa-solid fa-chart-bar"></i> График спреда между биржами</h2>
      <div class="mb-4">
        {% plotly_app name="SpreadChart" initial_arguments=dash_context height="650px" %}
      </div>
{% endblock %}

{% block extra_footer %}{{ plotly_footer }}{% endblock %}
